
# pixi environments
.pixi
*.egg-info

# ignore large files
*.shp
*.parquet
*.out
*.csv
*.png
*.xlsx
*.RData
*.xls
*.zip
*.cpg
*.dbf
*.prj
*.shx
*.sbn
*.sbx
*.shp.xml
*.nc
*.err
*.out
*.svg

# ignore folder with large files
Breathe_CIDACS/ 
data_process_scripts/logs/
data_process_scripts/archive/
data_analysis/archive/
data_analysis/RG2017_regioesgeograficas2017_20180911/
delta/
